<%- include("templates/header") %>
    <div class="container px-5 mt-5">
        <div>
            <h1>Users</h1>
        </div>
        <ul class="list-group">
            <%- include('templates/user', {users: users}) %>
        </ul>
    </div>
<%- include("templates/footer") %>